.w-full, .w-full img {
  width: 100%!important;
}
@media (max-width:767px) {
  .sm-hidden  {
    display: none;
  }
}
@media (min-width:767px) {
  .md-hidden {
    display: none;
  }
  .gap-116 {
    gap:116px;
  }
  .mt-116 {
    margin-top:116px;
  }
}

.gap-0 {
  gap:0;
}
