.krzyzowka-authors__header {
  font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 145.455% */
letter-spacing: -0.88px
}
.krzyzowka-authors__subtext{
  font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
letter-spacing: -0.18px;
}
.krzyzowka-authors__role {
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px
}
.krzyzowka-authors__name {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
}
