:root {
  --grid-border: 1px solid black;
}
.portfolio--grid {
  border-top: var(--grid-border);
  border-left: var(--grid-border);
  border-collapse: collapse;
}

.portfolio--card {
  border-right: var(--grid-border);
  border-bottom: var(--grid-border);
}

.portfolio--card--title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.portfolio--publish__date {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
  text-align: right;

}
.btn--pink {
  border-radius: 41.75px;
  border: 0.697px solid #000;
  padding:4px;
  padding-left:8px;
  padding-right:8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 140% */
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align:center;
}
.portfolio--card__image--wrapper {
  border-bottom:1px solid black;
}
.portfolio--grid__header  {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.portfolio--grid__header  {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

@media (min-width:767px) {
  .portfolio--grid__header  {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 145.455% */
    letter-spacing: -0.88px
  }

}
